#body-div{
    display: inline-block;
}
#body-div img{
    width: 500px;
}
a{
    font-size: 25px;
    line-height: 1.7em;
    text-decoration: none;
}
i{
    font-size: 25px;
}

@media all and (max-width: 515px){
    #body-div img{
        width: 350px;
    }
    h1{
        font-size: 20px;
    }
    a, i{
        font-size: 18px;
    }
}
@media all and (max-width: 365px){
    #body-div img{
        width: 150px;
    }
    h1{
        font-size: 15px;
    }
    a, i{
        font-size: 13px;
    }
}